 /* LOG IN */
*{
    margin: 0;
    padding: 0;
}

 body{
    background:black;
 }

 .text-login{
    color:#000;
    margin-top: .5em;
}

.login-form{
    background: #f3f3f3;
    border: 2px solid rgba(0, 0, 50, 0.74);
    border-radius: 15px;
    margin-top: 15%;
}