.cards-inicio{
    background-color: #FFFF;
    border: 1px solid #AAAC;
    border-radius: 10px;
    padding: 0.5rem;
    margin: 0px;
}
.btn {
    width: 150px;
}
.btn-drop{
    width: 165px;
    border-radius: 15px;
    background-color: #FFFF;
    color: black;
}

.search{
    width: 500px;
}
.content, .main-panel {
    background: #F7F7F8;
}

.material-icons{
    font-size: 100px;
}

nav i {
    font-size: 30px !important; 
}

.downCard i{
    font-size: 20px;
    float: left;
    text-align: center; 
    margin: 0px; 
}

h3{
    text-align: right;
    font-size: 25px;
    color: #6a6a6a;
}

.iconCard{
    color: #54ad58;
}

hr{
    margin:15px;
}

.downCard hr{
    margin: 8px;
}

.parrDownCard{
    color:#AAAC;
}

.iconWarning {
    color: red;
    font-size: 25px;
    margin: 10px;
}
.tablaPrincipal{
    background-color: #FFFF;
    border-radius: 15px;
    border: 1px solid #AAAC;
    
}

.mensajeAlert p{
    padding: 8px;
}
.mensajeAlert{
    float: none;
}
